
@font-face {
  font-family: 'Clacon';
  font-style: normal;
  src: url("../fonts/clacon.ttf") format('truetype');
}

html, #root {

  div {
    overflow-y: hidden;
  }

  * {
    font-family: 'Clacon', serif !important;
    font-size: 22px;
  }
}

